/* practice add */
#practice-view {
}

#minPlayed-input-div, #duration-div{
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quick-select-button-div {
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.between-button-line {
    margin: 0px;
    cursor: default;
    color: rgb(145, 143, 143);
}

.practice-input {
    color: white;
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    text-align: center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    padding-bottom: 2px;
    border-bottom: 3px solid rgba(45, 152, 240, 0.555);
    border-radius: 0px;
    outline: none;
    background-color: transparent;
    width: 40%;
}

.quick-select-button {
    font-size: 0.85em;
    padding-left: 12px;
    padding-right: 12px;
    transition: color 0.3s ease;
}

.quick-select-button.selected-quick {
    color: rgb(45, 152, 240);
}

.practice-input-group {
  margin: auto;
  padding-left: 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.save-div {
    margin-top: 100px;
    padding-bottom: 400px;
    text-align: center;
    font-size: 1.3em;
}

.form-label {
    font-size: 1em;
    margin: 0px;
    text-align: center;
    color: rgb(145, 143, 143);
}

.min-label {
    padding-bottom: 2px;
    padding-left: 6px;
    font-size: 1em;
    margin: 0px;
    text-align: center;
    color: rgb(145, 143, 143);

}

#practice-back-icon {
    margin: 0px;
    font-size: 1.1em;
    position: fixed;
    padding-top: 10px;
    top: 5px;
    cursor: pointer;
    font-weight: bolder;
}

#song-practice-title {
    text-align: center;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
