/* songs add */
#title-input-div, #artistName-input-div,
.difficulty-menu  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#song-form {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    padding-bottom: 120px;
}

.buttons-menu  {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  font-size: 0.9em;
}

.buttons-menu button {
  transition: all 0.3s ease;
}

.status-button  {
  font-size: 1em;
}


button.selected {
    color: rgb(33, 100, 245);
}

#add-input-div{
    text-align: center;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.song-input {
    color: white;
    text-align: center;
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

#song-add-save {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}