/* songs add */
#title-input-div, #artistName-input-div,
.difficulty-menu  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#song-form {
    max-width: 100vw;
    overflow-x: hidden;
    width: 100%;
}

.buttons-menu  {
    margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 100%;
}

button.selected {
    color: rgb(78, 103, 240);
}

#save-add-div {
    margin-top: 70px;
    text-align: right;
}

#add-input-div{
    text-align: center;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.song-input {
    color: white;
    text-align: center;
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

#song-add-save {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}