/* songs add */
#title-input-div, #artistName-input-div,
.difficulty-menu  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#title-input-div {
  margin-top: 50px;
}

#song-form {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    margin-bottom: 120px;
}

#buttons-menu-1-label {
  margin-top: 50px;
  display: block;
}

#buttons-menu-1  {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  max-width: 100%;
  font-size: 0.9em;
}

#buttons-menu-2  {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  font-size: 0.9em;
}

#buttons-menu-3  {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  font-size: 0.9em;
}

#buttons-menu-1 button,
#buttons-menu-2 button,
#buttons-menu-3 button {
  transition: color 0.3s ease;
  padding: 0px;
}

button.selected {
    color: rgb(45, 152, 240);
    padding: 0px;
}

#add-input-div{
    text-align: center;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.song-input {
    color: white;
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    padding-bottom: 4px;
    padding-left: 5px;
    border-bottom: 2px solid rgba(240, 172, 45, 0.822);
    border-radius: 0px;
    outline: none;
    background-color: transparent;
    width: 85%;
    max-width: 100%;
}

.status-button {
  min-width: fit-content;
}

.input-group {
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  max-width: 100%;
  flex-direction: row;
}

.input-arrow {
  margin: 0px;
  padding-top: 3px;
  padding-right: 5px;
  color: rgb(240, 172, 45);
  font-weight: bolder;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
}

#song-add-save {
    margin: auto;
    display: block;
    margin-top: 60px;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 250px;
}
