/* songs add */
#title-input-div, #artistName-input-div,
.difficulty-menu  {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#title-input-div {
  margin-top: 50px;
}

#song-form {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    margin-bottom: 120px;
}

#buttons-menu-1-label {
  margin-top: 50px;
  display: block;
}

#buttons-menu-1  {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  max-width: 100%;
  font-size: 0.9em;
}

#buttons-menu-2  {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  font-size: 0.9em;
}

#buttons-menu-1 button,
#buttons-menu-2 button {
  transition: color 0.3s ease;
}

button.selected {
    color: rgb(45, 152, 240);
}

#add-input-div{
    text-align: center;
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.song-input {
    color: white;
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    padding-bottom: 4px;
    padding-left: 5px;
    border-bottom: 3px solid rgba(45, 152, 240, 0.555);
    border-radius: 0px;
    outline: none;
    background-color: transparent;
    width: 85%;
    max-width: 100%;
}

.status-button {
  min-width: ;
}

.input-group {
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  max-width: 100%;
  flex-direction: row;
}

.input-arrow {
  margin: 0px;
  padding-top: 3px;
  padding-right: 8px;
  color: rgb(45, 152, 240);
  font-weight: bolder;
}

#song-add-save {
    margin: auto;
    display: block;
    margin-top: 60px;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 250px;
}
