/* Library */
#library-view {
    width: 100%;
}

#searchbar {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 150px;
}

#library-table {
    width: 100%;
    padding: 0px;
}

.song-tr:hover {
    color: rgb(15, 72, 230);
    cursor: pointer;
}

.song-td {
    padding: 0px;
    padding-bottom: 20px;
}

.song-td-lv{
    padding: 0px;
    width: 80px;
    text-align: center;
    padding-bottom: 20px;
}

.song-td-qprac {
    padding: 0px;
    width: 20px;
    text-align: center;
    padding-bottom: 17px;
}

.song-artist {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 20px;
}

/* Sort menu */
#sort-menu {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#sort-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.sort-p {
    margin: 0px;
}

.sort-p-state {
    margin: 0px;
    padding-top: 1px;
    margin-left: 10px;
    font-size: 0.9em;
    cursor: default;
}

.sort-menu-p-state {
    margin: 0px;
    margin-left: 10px;
    font-size: 0.9em;
    font-style: italic;
    cursor: pointer;
    color: rgb(165, 165, 165);
}

.sort-menu-p-state:hover {
    color: rgb(255, 255, 255);
}

#sort-menu-text-div {
    display: flex;
    flex-direction: row;
}

/* Song view */
#song-view {
    width: 500px;
}

#empty-info-p {
    text-align: center;
    margin-top: 100px;
}


#title {
    margin-bottom: 0px;
}

#artistName {
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 0px;
    height: min-content;
    font-weight: lighter;
    font-style: italic;
}

#duration {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    height: min-content;
}

#last-practice {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    height: min-content;
}

#song-head-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

#song-xp-div {
    margin-top: 30px;
}

#level {
    margin: 0px;
    margin-bottom: 6px;
    margin-left: 5px;
}

#xp {
    margin: 0px;
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.7em;
}

#song-mid-div {
    margin: 0px;
    margin-top: 50px;
    font-weight: lighter;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#song-xp-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

#song-bottom-buttons-div {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#practice-button-link {
    color: white;
}

/* XP Bar */
#xp-bar {
    height: 100%;
    width: 0%;
    border-radius: 0px;
    background-color: #4dff88;
}

#xp-container {
    position: relative;
    width: 100%;
    height: 10px;
    background: #1a1a1a;
    border: 2px solid transparent;
    border-radius: 0;
    overflow: hidden;
}

.input {
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

/* Song Stats Grid */
.song-stats-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
    font-weight: lighter;
    font-size: 0.9em;
}

.stat-item {
    display: flex;
    gap: 10px;
}

.stat-date-item {
    display: flex;
    gap: 10px;
    grid-column: 1 / -1;
    margin-top: 10px;
}

.stat-label {
    font-weight: normal;
}

.stat-value {
    font-style: italic;
    color: #b0b0b0;
}
