#create-a-new-deck {
    font-size: 1.2em;
    margin: auto;
    margin-top: 35vh;
    width: 70%;
    text-align: center;
}

#just-make-it {
    font-size: 1.2em;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    text-align: center;
}


#deck-form {
    margin: auto;
    margin-top: 10vw;
    overflow-x: hidden;
    padding: 10px;
}

#deck-create-back-icon {
    margin: 0px;
    font-size: 1.1em;
    padding-left: 15px;
    padding-top: 15px;
    cursor: pointer;
    font-weight: bolder;
}

#description-input-div {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#deck-searchbar-container {
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    max-width: 265px;
}

#searchbar {
    max-width: 265px;
    width: 100%;
    display: block;
}

#searchbar::placeholder {
    opacity: 0;
}

.custom-placeholder {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(240, 172, 45, 0.822);
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
}

.blinking-question {
    animation: blink-question 1s infinite;
}

@keyframes blink-question {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

#deck-table-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10px, black calc(100% - 30px), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 10px, black calc(100% - 30px), transparent 100%);
}

#deck-table {
    padding: 15px;
    padding-top: 0px;
    font-size: 0.9em;
    width: 100%;
}

.deck-tr {
    cursor: pointer;
}

.deck-td {
    padding: 0px;
    padding-bottom: 15px;
    padding-left: 5px;
    user-select: none;
      -moz-user-select: none;    /* Firefox */


}

.deck-td-lv{
    padding: 0px;
    width: 90px;
    text-align: center;
    padding-bottom: 15px;
}

.deck-title {
    max-width: 14ch; /* 14 characters width */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deck-input {
    color: white;
    font-family: 'Pokemon-Classic';
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
    padding-bottom: 4px;
    padding-left: 5px;
    border-bottom: 2px solid rgba(240, 172, 45, 0.822);
    border-radius: 0px;
    outline: none;
    background-color: transparent;
    width: 85%;
    max-width: 100%;
}

#deck-create-save {
    margin: auto;
    display: block;
    margin-top: 120px;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 300px;
}

#create-deck-button {
    margin-left: auto;
    padding-right: 5px;
}

/* Deck Detail View */
#deck-view {
    max-width: 100vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#deck-top-div {
    padding: 15px;
    padding-bottom: 10px;
}

#deck-head-div-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.deck-back-icon {
    margin: 0px;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: bolder;
}

#deck-menu-container {
    position: relative;
    z-index: 600;
}

#deck-menu-icon {
    margin: 0;
    padding-top: 4px;
    cursor: pointer;
    width: 35px;
    height: 25px;
}

#deck-menu-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #0e0e13;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 5px 0;
    min-width: 120px;
    z-index: 600;
}

.deck-menu-option {
    padding: 5px 15px;
    margin: 0;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s;
    text-align: center;
}

.deck-menu-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;
}

#deck-title {
    font-size: 1.4em;
    margin: 0;
    padding-left: 5px;
    color: white;
}

#deck-head-div-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#deck-level {
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 0px;
    height: min-content;
    font-weight: lighter;
    font-size: 1em;
    font-style: italic;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    max-width: calc(100% - 100px);
    color: rgb(145, 143, 143);
}

#deck-total-duration {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    height: min-content;
    min-width: 70px;
    text-align: right;
}

#deck-description-box {
    margin: 15px;
    margin-top: 0;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(14, 14, 19, 0.5);
    border-radius: 4px;
}

#deck-description-text {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.95em;
    line-height: 1.4;
}

#deck-songs-table-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 15px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 5px, black calc(100% - 30px), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 5px, black calc(100% - 30px), transparent 100%);
}

#deck-songs-table {
    width: 100%;
    font-size: 0.9em;
}

.deck-song-tr {
    transition: background-color 0.2s ease;
}

.deck-song-tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.deck-song-td-drag {
    cursor: grab;
    padding: 0px;
    width: 27px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}

.deck-song-td-drag:active {
    cursor: grabbing;
}

.deck-drag-handle {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 0.9em;
    opacity: 0.6;
    padding-right: 7px;
    font-weight: bold;
}

.deck-song-td-title {
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-user-select: none;
    user-select: none;
}

.deck-song-artistName {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 20px;
    max-width: 19ch; /* 19 characters width */
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(145, 143, 143);
    white-space: nowrap;
    
}

.deck-song-title {
    max-width: 14ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.deck-song-td-lv {
    padding: 8px 5px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.deck-song-tr.dragging {
    opacity: 0.5;
}

.deck-song-tr.drag-overlay {
    background-color: rgba(14, 14, 19, 0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.deck-song-td-remove {
    padding: 8px 5px;
    width: 30px;
    text-align: center;
}




#deck-loading,
#deck-empty {
    text-align: center;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.5);
}

#deck-delete-confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#deck-delete-confirm-widget {
    background-color: #0e0e13;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    max-width: 250px;
    width: 70%;
    text-align: center;
}

#deck-delete-confirm-text {
    margin: 0 0 25px 0;
    font-size: 1em;
    color: white;
}

#deck-delete-confirm-buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.deck-delete-confirm-btn {
    flex: 1;
    padding: 10px;
    font-size: 0.8em;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    color: white;
    font-style: italic;
    text-transform: lowercase;
    text-align: center;
}