<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex | Add song</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://c.webfontfree.com/c.js?f=Pokemon-Classic" type="text/javascript"></script>
</head>

<body>
    <header>
        <a href="/">
            <img id="guitardex-icon" src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="50" height="50">
            <h3 id="guitardex-heading"> GuitarDex</h3>
        </a>
        <!--  <img id="menu-icon" src="{{ url_for('static', filename='images/menuIcon.png') }}" alt="menu icon" width="50" height="50">-->
    </header>

    <main>
        <h1 id="add-song-title"> spot a song</h1>
        <form class="song-form" action="{{ url_for('songs_add') }}" method="POST">
            <div id="add-input-div">
                <div id="title-input-div">
                    <label for="title-input" class="form-label">Whats the song called?</label>
                    <input type="text" class="song-input" id="title-input" value="{{ title or '' }}" name="title-input" maxlength="60" required placeholder="...">
                    <span class="fake-caret"></span>
                </div>
                <div id="artistName-input-div">
                    <label for="artistName-input" class="form-label">Who played it?</label>
                    <input type="text" class="song-input" id="artistName-input" name="artistName-input" maxlength="60" required placeholder="...">
                </div>
                <div class="difficulty-menu">
                    <div id="add-buttons-div">
                        <button type="button" value="easy" id="add-diff-easy-button">Easy</button>
                        <button type="button" value="normal" id="add-diff-normal-button" class="selected">Normal</button>
                        <button type="button" value="hard" id="add-diff-hard-button">Hard</button>
                    </div>
                </div>
                    <input type="hidden" id="difficulty-input" name="difficulty-input" value="normal">
            </div>
            <div class="save-div">
                <button type="submit" class="form__button">Save</button>
            </div>
        </form>
    </main>
    
    <nav id="navbar">
        <a href="/songs/add"> spot</a>
        <a href="/library"> library</a>
    </nav>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
