body {
    font-family: 'Pokemon-Classic'; 
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    margin: 0;              
    padding: 0;
}


#index-song-table, #practice-table {
    width: 700px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#index-container, #sAdd-section {
    display: flex;
    flex-direction: row;
}

th {
    text-align: left;
}

.form__input-group {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 17px;
}

.sAdd-input-num {
    display: block;
    font-size: 0.9em;
    padding: 0.65rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 12px;
    outline: none;
    background: #eeeeee;
}

#navbar li {
    width: 100%;
    text-align: center;
    display: inline;
}



header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#guitardex-heading {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

#guitardex-icon, #menu-icon{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;

}

button, .button {
    font-family: 'Pokemon-Classic'; 
    font-size: 1em;
    font-weight: bold;
    position: relative;
    background: none;
    border: none;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.form-label {
    font-size: 1.1em;
    padding-left: 5px;
    margin: 0px;
    margin-right: 6px;
}

.input {
    font-family: 'Pokemon-Classic'; 
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

.difficulty-menu button.selected {
  color: rgb(15, 72, 230);
}

#save-div {
    margin-top: 50px;
    text-align: right;
}

#searchbar {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 2px;
}

.song-tr {
    width: 100%;
}

.song-td {
    padding: 0px;
}

.song-td-lv{
    padding: 0px;
    width: 80px;
}

#library-table {
    width: 100%;
    padding: 0px;
}