body, p, span, div, h1, h2, h3, h4, h5, h6, a, li {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

body {
    font-family: 'Pokemon-Classic'; 
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    margin: 0;              
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#index-song-table, #practice-table {
    width: 700px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#index-container {
    display: flex;
    flex-direction: row;
}

.input-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin-top: 80px;
}

th {
    text-align: left;
}

.form__input-group {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 17px;
}

#navbar {
    margin-top: 100px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    
    position: fixed;
    bottom: 0;
    padding-bottom: 40px;
    z-index: 1000;     /* stay on top */
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #ffffff 2px dashed;
    padding-bottom: 20px;
}

header a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#guitardex-heading {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

#guitardex-icon, #menu-icon{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;

}

button, .button {
    font-family: 'Pokemon-Classic'; 
    font-size: 1em;
    font-weight: bold;
    position: relative;
    background: none;
    border: none;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.form-label {
    font-size: 1.1em;
    padding-left: 5px;
    margin: 0px;
    margin-right: 6px;
}

.input {
    font-family: 'Pokemon-Classic'; 
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

.difficulty-menu button.selected {
  color: rgb(15, 72, 230);
}

.save-div {
    margin-top: 70px;
    text-align: right;
}

#searchbar {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 150px;
}

.song-tr:hover {
    color: rgb(15, 72, 230);
    cursor: pointer;
}

.song-td {
    padding: 0px;
    padding-bottom: 20px;
}

.song-td-lv{
    padding: 0px;
    width: 80px;
    text-align: center;
    padding-bottom: 20px;

}

.song-td-qprac {
    padding: 0px;
    width: 20px;
    text-align: center;
    padding-bottom: 17px;
}

.song-artist {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 20px;
}

/* song view */

#song-view {
    width: 500px;
}

#empty-info-p {
    text-align: center;
    margin-top: 100px;
}

#title {
    margin-bottom: 0px;
}

#artistName {
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 0px;
    height: min-content;
    font-weight: lighter;
    font-style: italic;
}

#duration {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
    height: min-content;
}

#song-head-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

#song-xp-div {
    margin-top: 30px;
}

#level {
    margin: 0px;
    margin-bottom: 6px;
    margin-left: 5px;
}

#xp {
    margin: 0px;
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.7em;
}

#song-mid-div {
    margin: 0px;
    margin-top: 50px;
    font-weight: lighter;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#song-xp-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

#song-bottom-buttons-div {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#practice-button-link {
    color:white;
}

/* song view progreess bar */
#xp-bar {
    height: 100%; 
    width: 0%; 
    border-radius: 0px;
}

#xp-container {
  position: relative;
  width: 100%;
  height: 10px;
  background: #1a1a1a;          
  border: 2px solid transparent;    
  border-radius: 0;                 
  overflow: hidden;             
}



#library-table {
    width: 100%;
    padding: 0px;
}

/* sort button */

#sort-menu {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#sort-icon {
    cursor: pointer;
}

.sort-p {
    margin: 0px;
}

.sort-p-state {
    margin: 0px;
    margin-left: 12px;
    padding-bottom: 4px;
    font-size: 0.8em;
    cursor: default;
}

.sort-menu-p-state {
    margin: 0px;
    margin-left: 12px;
    padding-bottom: 4px;
    font-size: 0.8em;
    font-style: italic;
    cursor: pointer;
    color: rgb(165, 165, 165);
}

.sort-menu-p-state:hover {
    color: rgb(255, 255, 255);
}


#minPlayed-div, #duration-div{
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#duration-div {
    display: none;
}

.practice-input {
    text-align: center;
    font-family: 'Pokemon-Classic'; 
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

.quick-select-button-div {
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.quick-select-button:hover {
    text-decoration: none;
    color: rgb(15, 72, 230);
}

.between-button-line {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

#song-practice-title {
    text-align: center;
}