body {
    font-family: 'Pokemon-Classic'; 
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    margin: 0;              
    padding: 0;
}


#index-song-table, #practice-table {
    width: 700px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#index-container, #sAdd-section {
    display: flex;
    flex-direction: row;
}

th {
    text-align: left;
}

.form__input-group {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 17px;
}

.sAdd-input-num {
    display: block;
    font-size: 0.9em;
    padding: 0.65rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 12px;
    outline: none;
    background: #eeeeee;
}

#navbar {
    margin-top: 100px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #ffffff 2px dashed;
    padding-bottom: 20px;
}

header a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#guitardex-heading {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

#guitardex-icon, #menu-icon{
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;

}

button, .button {
    font-family: 'Pokemon-Classic'; 
    font-size: 1em;
    font-weight: bold;
    position: relative;
    background: none;
    border: none;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.form-label {
    font-size: 1.1em;
    padding-left: 5px;
    margin: 0px;
    margin-right: 6px;
}

.input {
    font-family: 'Pokemon-Classic'; 
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

.difficulty-menu button.selected {
  color: rgb(15, 72, 230);
}

#save-div {
    margin-top: 50px;
    text-align: right;
}

#searchbar {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 150px;
}

.song-tr {
    width: 100%;
}

.song-td {
    padding: 0px;
    margin-bottom: 20px;

}

.song-td-lv{
    padding: 0px;
    width: 80px;
}

#library-table {
    width: 100%;
    padding: 0px;
    border-spacing: 0 20px;
}

.song-artist {
    font-size: 0.7em;
    font-style: italic;
    margin-left: 20px;
}

/* song view */

#song-view {
    width: 500px;
}

#title {
    margin-bottom: 0px;
}

#artistName {
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 0px;

    font-weight: lighter;
    font-style: italic;
}

#duration {
    margin: 0px;
    font-weight: lighter;
    font-style: italic;
}

#song-head-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#song-xp-div {
    margin-top: 30px;
}

#level {
    margin: 0px;
    margin-bottom: 6px;
    margin-left: 5px;
}

#xp {
    margin: 0px;
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.7em;
}

#song-mid-div {
    margin: 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 0.9em;
}


#song-xp-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: top;
}

#song-bottom-buttons-div {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#practice-button-link {
    color:white;
}

/* song view progreess bar */
#xp-bar {
    height: 100%; 
    width: 0%; 
    border-radius: 0px;
}

#xp-container {
  position: relative;
  width: 100%;
  height: 10px;
  background: #1a1a1a;              /* dark background behind the fill */
  border: 2px solid transparent;    /* needed for border-image */
  border-image-source: url('/static/images/progress-frame.png'); /* your frame sprite */
  border-image-slice: 1;
  border-image-width: 2px;
  border-image-repeat: stretch;
  border-image-outset: 2px;
  border-radius: 0;                 /* sharp corners */
  overflow: hidden;                 /* hides fill overflow */
}

