#index-song-div, main {
    width: 700px;
    margin-left: 80px;
}

#index-song-table, #practice-table {
    width: 700px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#index-container, #sAdd-section {
    display: flex;
    flex-direction: row;
}

th {
    text-align: left;
}

.form__input-group {
    margin-top: 6px;
    margin-bottom: 17px;
}

.form__input {
    display: block;
    width: 100%;
    font-size: 0.85em;
    padding: 0.65rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 12px;
    outline: none;
    background: #eeeeee;
}

.sAdd-input {
    width: 100%;
    font-size: 0.9em;
    padding: 0.65rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 12px;
    outline: none;
    background: #eeeeee;
}

.sAdd-input-num {
    display: block;
    font-size: 0.9em;
    padding: 0.65rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 12px;
    outline: none;
    background: #eeeeee;
}

.form-label {
    font-size: 1.1em;
    padding-left: 5px;
    margin-bottom: 8px;
}

#navbar li {
    width: 100%;
    text-align: center;
    display: inline;
}

body {
    display: flex;           /* use Flexbox */
    flex-direction: column;  /* stack elements vertically */
    align-items: center;     /* center horizontally */
    margin: 0;               /* remove default body margin */
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#guitardex-icon, #menu-icon{
    margin: 21px;
}