<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex | Log practice</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://c.webfontfree.com/c.js?f=Pokemon-Classic" type="text/javascript"></script>
</head>

<body>
    <header>
        <a href="/">
            <img id="guitardex-icon" src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="50" height="50">
            <h3 id="guitardex-heading"> GuitarDex</h3>
        </a>
        <!--  <img id="menu-icon" src="{{ url_for('static', filename='images/menuIcon.png') }}" alt="menu icon" width="50" height="50">-->
    </header>
    <section id="sAdd-section">    
        <main>
            <h2 id="practice-h2"></h2>
            <form id="song-form" action="{{ url_for('practices_add') }}" method="POST" >
                <div>
                    <div class="sAdd-input-div">
                        <div class="form__input-group">
                            <label for="title-select" class="form-label">Song title: </label>
                            <select class="input" id="title-select" name="title-select" required>
                                <option value="" selected disabled hidden>Choose here</option>
                            </select>
                        </div>
                        <div class="sAdd-input-div">
                            <div class="form__input-group">
                                <label for="minPlayed-input" class="form-label">Practice duration in minutes: </label>
                                <input type="number" step="1" class="input" id="minPlayed-input" name="minPlayed-input" min="1">
                            </div>
                        </div>
                        <div id="duration-div"class="form__input-group">
                            <label for="duration-input" class="form-label">Song duration in minutes: </label>
                            <input type="number" step="1" class="input" id="duration-input" name="duration-input" max="30" min="0">
                        </div>
                    </div>
                </div>

                <button type="submit" id="practice-save-button" class="form__button">Save</button>
            </form>

        </main>
    </section>

    <nav>
        <a href="/songs/add"> Spot</a>
        <a href="/library"> Library</a>
        <a href="/practices/add"> Practice</a>
    </nav>
      
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
