<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex | Add song</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://c.webfontfree.com/c.js?f=Pokemon-Classic" type="text/javascript"></script>
</head>

<body>
    <header>
        <a href="/">
            <img id="guitardex-icon" src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="50" height="50">
            <h3 id="guitardex-heading"> GuitarDex</h3>
        </a>
        <img id="menu-icon" src="{{ url_for('static', filename='images/menuIcon.png') }}" alt="menu icon" width="50" height="50">
    </header>
    <section id="sAdd-section">    
        <main id="sAdd-div">
            <h2> Add new song</h2>
            <form class="song-form" action="{{ url_for('songs_add') }}" method="POST">
                <div>
                    <div class="sAdd-input-div">
                        <div class="form__input-group">
                            <label for="title-input" class="form-label">Song title</label>
                            <input type="text" class="sAdd-input" id="title-input" name="title-input" maxlength="40" required>
                        </div>
                        <div class="form__input-group">
                            <label for="artistName-input" class="form-label">Artist name</label>
                            <input type="text" class="sAdd-input" id="artistName-input" name="artistName-input" maxlength="40" required>
                        </div>
                        <div class="form__input-group">
                            <label for="difficulty-select" class="form-label">Difficulty</label>
                            <select class="sAdd-input" id="difficulty-select" name="difficulty-select" required>
                                <option value="" selected disabled hidden>Choose here</option>
                                <option value="easy">Easy</option>
                                <option value="normal">Normal</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>
                    </div>
                    
                </div>

                <button id="sAdd-save-button" type="submit" class="form__button">Save</button>
            </form>
        </main>
    </section>
    
    <nav>
        <a href="/songs/add"> Spot</a>
        <a href="/library"> Library</a>
        <a href="/practices/add"> Practice</a>
    </nav>

    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
