<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex | Add song</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section id="sAdd-section"> 
        <a href="/">
            <img src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="200" height="200">
        </a>       
        <main id="sAdd-div">
            <h2> Add new song</h2>
            <form class="song-form" action="{{ url_for('songs_add') }}" method="POST">
                <div>
                    <div class="sAdd-input-div">
                        <div class="form__input-group">
                            <label for="title-input" class="form-label">Song title</label>
                            <input type="text" class="sAdd-input" id="title-input" name="title-input" maxlength="40" required>
                        </div>
                        <div class="form__input-group">
                            <label for="artistName-input" class="form-label">Artist name</label>
                            <input type="text" class="sAdd-input" id="artistName-input" name="artistName-input" maxlength="40" required>
                        </div>
                        <div class="form__input-group">
                            <label for="difficulty-input" class="form-label">Difficulty (1-3)</label>
                            <input type="number" class="sAdd-input-num" id="difficulty-input" name="difficulty-input" max="3" min="1">
                        </div>
                    </div>
                    
                </div>

                <button id="sAdd-save-button" type="submit" class="form__button">Save</button>
            </form>
        </main>
    </section>
    
    <footer> 
        <ul id="navbar">
            <li><a href="/songs/add"> Spot</a></li>
            <li><a href="/library"> Library</a></li>
            <li><a href="/practices/add"> Practice</a></li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
