<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex | Edit song</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://c.webfontfree.com/c.js?f=Pokemon-Classic" type="text/javascript"></script>
</head>

<body>
    <header>
        <a href="/">
            <img id="guitardex-icon" src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="50" height="50">
            <h3 id="guitardex-heading"> GuitarDex</h3>
        </a>
        <!--  <img id="menu-icon" src="{{ url_for('static', filename='images/menuIcon.png') }}" alt="menu icon" width="50" height="50">-->
    </header>
    <section id="sAdd-section"> 
        <main>
            <h2 id="sEditor-h2"></h2>
            <form id="song-form" action="{{ url_for('song_edit', songId=songId ) }}" method="POST" >
                <div>
                    <div class="sAdd-input-div">
                        <div class="form__input-group">
                            <label for="title-input" class="form-label">Song title</label>
                            <input type="text" class="sAdd-input" id="title-input" name="title-input" maxlength="40" required>
                        </div>
                        <div class="form__input-group">
                            <label for="artistName-input" class="form-label">Artist name</label>
                            <input type="text" class="sAdd-input" id="artistName-input" name="artistName-input" maxlength="40" required>
                        </div>
                    </div>
                </div>

                <button id="sEdit-save-button" class="form__button">Save</button>
            </form>

            <form action="/songs/{{ songInfo.songId }}/info" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button id="sDelete-button" type="submit" class="form__button">Delete</button>
            </form>

        </main>
    </section>
      
    <nav id="navbar">
        <a href="/songs/add"> spot</a>
        <a href="/library"> library</a>
        <a href="/practices/add"> practice</a>
    </nav>

    <input id="songId" value="{{ songInfo.songId }}" type="hidden">
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
