<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://c.webfontfree.com/c.js?f=Pokemon-Classic" type="text/javascript"></script>
</head>

<body>
    <header>
        <a href="/">
            <img id="guitardex-icon" src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="50" height="50">
            <h3 id="guitardex-heading"> GuitarDex</h3>
        </a>
        <!--  <img id="menu-icon" src="{{ url_for('static', filename='images/menuIcon.png') }}" alt="menu icon" width="50" height="50">-->
    </header>
    <section id="index-container">
        <main id="index-song-div">
            <h2>Song table</h2>
            <table id="index-song-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Level</th>
                        <th>Difficulty</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
            <h2>Practices table</h2>
            <table id="practice-table">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Duration</th>
                        <th>Practice date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </main>
    </section>
    
    <nav id="navbar">
        <a href="/songs/add"> spot</a>
        <a href="/library"> library</a>
    </nav>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
