<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section id="index-container">
        <img src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="200" height="200">
        <main id="index-song-div">
            <h2>Song table</h2>
            <table id="index-song-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Learn Date</th>
                        <th>Level</th>
                        <th>Difficulty</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <a href="/songs/add">
  	            <button>add song</button>
            </a>

            <h2>Practices table</h2>
            <table id="practice-table">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Duration</th>
                        <th>Practice date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <a href="/practices/add">
  	            <button>add practice</button>
            </a>
        </main>
    </section>
    
    <footer></footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
