<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuitarDex | Library</title>
    <link rel="icon" type="image/x-icon" href="/static/images/guitarDexIcon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <a href="/">
            <img id="guitardex-icon" src="{{ url_for('static', filename='images/guitarDexIcon.png') }}" alt="website icon" width="50" height="50">
            <h3 id="guitardex-heading"> GuitarDex</h3>
        </a>
        <img id="menu-icon" src="{{ url_for('static', filename='images/menuIcon.png') }}" alt="menu icon" width="50" height="50">
    </header>
    <main>
        <form method="GET">
            <input id="searchbar" type="text" placeholder="Whatcha lookin for?">
        </form>
        <table id="library-table">
            <tbody></tbody>
        </table>
    </main>
    
    
    <footer> 
        <ul id="navbar">
            <li><a href="/songs/add"> Spot</a></li>
            <li><a href="/library"> Library</a></li>
            <li><a href="/practices/add"> Practice</a></li>
        </ul>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>
