@font-face {
  font-family: 'Pokemon-Classic';
  src: url('./fonts/PokemonClassic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Global text wrapping */
body, p, span, div, h1, h2, h3, h4, h5, h6, a, li {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

body {
  font-family: 'Pokemon-Classic', system-ui, sans-serif;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e13;
  min-height: 100vh;
}

/* Remove number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  color: rgb(15, 72, 230);
}

input {
    color: rgb(145, 143, 143);
}

/* Buttons */
button, .button {
  font-family: 'Pokemon-Classic';
  font-size: 1em;
  font-weight: bold;
  position: relative;
  background: none;
  border: none;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  color: white;
}

/* Tables */
th {
  text-align: left;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  cursor: default;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-bottom: 18px solid transparent;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-image: url('/images/frame-bottom.png') 42 round;
  pointer-events: none;
}

#guitardex-heading {
  text-align: center;
  padding: 0px;
  margin: auto;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.6em;
}


/* Navbar */
#navbar {
  width: 90%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-bottom: 15px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-width: 20px;
  border-style: solid;
  border-image: url('/images/frame-hd.png') 42 round;
  border-color: white;
  background-color: #0e0e13;
  font-size: 1.1em;
  will-change: transform;
  backface-visibility: hidden;
}

#navbar::after {
  content: '';
  position: absolute;
  inset: -20px;
  border: 20px solid transparent;
  border-image: url('/images/frame-hd.png') 42 round;
  filter: invert(1) brightness(1);
  pointer-events: none;
  z-index: -1;
}

#navlink-1 {
  padding-left: 50px;
}

#navlink-2 {
  padding-right: 30px;
}

#navlink-1, #navlink-2:visited {
  text-decoration: none;
  color: rgb(231, 226, 226)
}

/* Main content wrapper */
main {
  margin: 0px;
}

/* Headings */
h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}
